*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    border: 1px solid black;
    background: url(Group\ 299.png);
    background-size: 100%;
}
header{
    width: 100%;
    height: 800px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 40%;
    height: 42px;
    display: flex;
    align-items: center;
}
.logo_h2{
    font-family: Arial, Helvetica, sans-serif;
font-size: 45px;
color: white;
}
nav{
    width: 40%;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_text{
    width: 50%;
    height: 423px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.diagrama{
    width: 40%;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nizhny{
    width: 100%;
    height: 93px;
    background: url(Logo\ Wall.png);
    background-position: left center;
    animation: bg 6s infinite alternate linear
}
@keyframes bg{
    100%{
        background-position: right center;
    }
}
.nav_h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: white;
}
.button_nav{
    width: 100%;
    height: 40px;
    background: white;
    border: 0px solid transparent;
    border-radius: 30px;
}
.a1{
    width: 20%;
    text-decoration: none;
    color: black;
}
h1{
    width: 80%;
    font-size: 55px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
.header_h3{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: white;
}
.header_button_box{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.button_header{
    width: 50%;
    height: 60px;
    background: #65E4A3;
    border-radius: 25px;
    border: 0px;
}
.button_header1{
    width: 30%;
    height: 60px;
    border-radius: 25px;
    border: 2px solid white;
    background: transparent;
}
.button_h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: left;
margin-left: 30%;
}
.button1_h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: left;
margin-left: 30%;
color: white;
}
.div_diagrama1{
    width: 100%;
    height: 200px;
    backdrop-filter: blur(68.71066284179688px);
    background: #FFFFFF2E;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.div_diagrama2{
    width: 40%;
    height: 200px;
    backdrop-filter: blur(68.71066284179688px);
    background: #FFFFFF2E;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.div_diagrama3{
    width: 55%;
    height: 200px;
    backdrop-filter: blur(68.71066284179688px);
    background: #FFFFFF2E;
    border-radius: 10px;
}
.diagram_img1{
    width: 30%;
    height: 20px;
}
.diagrama_item{
    width: 80%;
    height: 20px;
    display: flex;
}
.dia_1{
    width: 80%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-top: 1%;
}
.dd{
    width: 30%;
    height: 100%;
    background: #8a8989;
    border-radius: 10px;
    margin-left: 3%;
}
.de{
    width: 60%;
    height: 100%;
    background: #8FB6D5;
    border-radius: 10px;
    margin-left: 3%;
    animation: anim1 3s infinite alternate linear;
}
.da{
    width: 35%;
    height: 100%;
    background: #0DBBFC;
    border-radius: 10px;
    margin-left: 3%;
    animation: anim2 3s infinite alternate linear;
}
.dr{
    width: 65%;
    height: 100%;
    background: white;
    border-radius: 10px;
    margin-left: 3%;
    animation: anim3 3s infinite alternate linear;
    animation-delay: 2s;
}
.dt{
    width: 50%;
    height: 100%;
    background: #65E4A3;
    border-radius: 10px;
    margin-left: 3%;
    animation: anim4 3s infinite alternate linear;
}
@keyframes anim1{
    100%{
        width: 30%;
    }
}
@keyframes anim2{
    100%{
        width: 60%;
    }
}
@keyframes anim3{
    100%{
        width: 40%;
    }
}
@keyframes anim4{
    100%{
        width: 30%;
    }
}
.diag_img{
    width: 65px;
    height: 12px;
}
.diag_div{
    width: 80%;
    height: 150px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.dy1{
    width: 7%;
    height: 30px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy1 3s infinite alternate linear;
}
.dy2{
    width: 7%;
    height: 20px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy2 3s infinite alternate linear;
}
.dy3{
    width: 7%;
    height: 80px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy3 3s infinite alternate linear;
}
.dy4{
    width: 7%;
    height: 60px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy4 3s infinite alternate linear;
}
.dy5{
    width: 7%;
    height: 110px;
    background: #95ABBC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy5 3s infinite alternate linear;
}
.dy6{
    width: 7%;
    height: 70px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy6 3s infinite alternate linear;
}
.dy7{
    width: 7%;
    height: 80px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy7 3s infinite alternate linear;
}
.dy8{
    width: 7%;
    height: 50px;
    background: #0DBBFC;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: dy8 3s infinite alternate linear;
}
@keyframes dy1{
    100%{
        height: 60px;
    }
}
@keyframes dy2{
    100%{
        height: 45px;
    }
}
@keyframes dy3{
    100%{
        height: 50px;
    }
}
@keyframes dy4{
    100%{
        height: 20px;
    }
}
@keyframes dy5{
    100%{
        height: 60px;
    }
}
@keyframes dy6{
    100%{
        height: 90px;
    }
}
@keyframes dy7{
    100%{
        height: 40px;
    }
}
@keyframes dy8{
    100%{
        height: 60px;
    }
}
.diag_div2{
    width: 80%;
    height: 100px;
    margin-top: 30px;
    margin-left: 8%;
    display: flex;
    align-items: center;
}
.dia{
    width: 40%;
    height: 70px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.dia_item{
    width: 80%;
    height: 15px;
    background: gray;
    border-radius: 5px;
}
@keyframes dia{
    100%{
        transform: rotate(360deg);
    }
}
.shape{
    animation: dia 5s infinite alternate linear;
}
main{
    width: 100%;
    height: 3000px;
    background: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item_main1{
    width: 70%;
    height: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;

    
}
.item_Text{
     width: 80%;
     height: 184px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.man_h3{
    width: 40%;
    color: gray;
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.man_h2{
    width: 70%;
    text-align: center;
    font-size: 42px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.div_explore{
    width: 100%;
    height: 575px;
    display: flex;
    justify-content: space-between;
}
.explore{
    width: 24%;
    height: 575px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.explar_img{
    width: 100%;
    height: 320px;
    border-radius: 20px;
}
.pyk{
    height: 185px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.explo_h3{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.explo_h4{
    font-size: 20px;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
}
.item_main2{
    width: 70%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.explore_palka{
    width: 30%;
    height: 2px;
}
.i256{
    width: 40%;
    border-radius: 20px;
}
.tm2{
    width: 40%;
    height: 479px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.connect{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.galka{
    width: 100%;
    height: 159px;
}
.gal{
    width: 90%;
    height: 37px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.gal_img{
    width: 5%;
    float: left;
    margin-right: 3%;
}
.gal_h3{
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gal_But{
    width: 30%;
    height: 60px;
    color: white;
    background: #0A2640;
    border-radius: 56px;
    border: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.item_main3{
    width: 70%;
    height: 692px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.artem_loh{
    width: 40%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.we_c{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 150;
}
.buttanu{
    width: 100%;
    height: 252px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bt1{
    width: 100%;
    height: 68px;
    border: 0px;
    background: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    transition: 1.5s;
}
.bt1_h3{
    color: #0A2640;
    margin-left: 5%;
}
.bt1:hover .bt1_h3{
    color: white;
    transition: 1.5s;
}
.bt2{
    width: 100%;
    height: 68px;
    border: 0px;
    background: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    transition: 1.5s;
}
.bt3{
    width: 100%;
    height: 68px;
    border: 0px;
    background: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    transition: 1.5s;
}
.pero1{
    width: 30px;
    height: 30px;
    margin-left: 5%;
    background-image: url(feather1.png);
    background-size: 100%;
    transition: 2s;
}
.pero2{
    width: 30px;
    height: 30px;
    margin-left: 5%;
    background-image: url(eye.png);
    background-size: 100%;
}
.pero3{
    width: 30px;
    height: 30px;
    margin-left: 5%;
    background-image: url(sun.png);
    background-size: 100%;
}
.bt1:hover{
    background: #0A2640;
    transition: 1.5s;
}
.bt2:hover{
    background: #0A2640;
    transition: 1.5s;
}
.bt3:hover{
    background: #0A2640;
    transition: 1.5s;
}
.bt1:hover .pero1{
    background-image: url(feather.png);
    transition: 1.5s;
}
.bt2:hover .pero2{
    background-image: url(eye1.png);
    transition: 1.5s;
}
.bt3:hover .pero3{
    background-image: url(sun1.png);
    transition: 1.5s;
}
.bt2_h3{
    color: black;
    margin-left: 5%;
}
.bt3_h3{
    color: black;
    margin-left: 5%;
}
.bt2:hover .bt2_h3{
    color: white;
    transition: 1.5s;
}
.bt3:hover .bt3_h3{
    color: white;
    transition: 1.5s;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 797px;
    background: #0A2640;
    margin-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}
.swiper{
    width: 100%;
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sect1_h2{
    width: 50%;
    font-size: 48px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 100;
}
.knopki{
    height: 73px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    align-self: flex-end;
}
.btn2{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
}
.btn1{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
}
.knopki_knopka{
    background: white;
    height: 72px;
    border-radius: 50%;
    width: 40%;
    border: 0px;
}
.pp{
    font-size: 27px;
    font-weight: 200;
}
.tyt{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.try_blocka{
width: 100%;
height: 400px;
display: flex;
justify-content: space-between;
}
#one{
    background: white;
    width: 32%;
    height: 322px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}
#two{
    background: white;
    width: 32%;
    height: 394px;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.trt_h3{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 80%;
    height: 144px;
}
.trt_dif{
    width: 80%;
    height: 58px;
    display: flex;
    justify-content: space-between;
}
.dif_img{
    height: 100%;
    width: 20%;
}
.dif_h3{
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    width: 70%;
}
.dif_text{
    width: 70%;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section2{
    width: 70%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
}
.section2_img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.sec2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.sec2_text{
    font-size: 36px;
    font-weight: 300;
    width: 40%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.se2{
    width: 45%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.se2_item{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: wait;
}
.se_h3{
    width: 70%;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.se_img{
    width: 35px;
    height: 35px;
}
.se_palka{
    width: 100%;
    height: 1px;
    background: black;
}
.section3{
    width: 70%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tri{
    width: 100%;
    height: 424px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.tri_item{
    width: 27%;
    height: 424px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.pitch_p2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
}
.pitch_h31{
    width: 30%;
    color: #0A2640;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.text_tri{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.item_pit2{
    width: 70%;
    height: 32px;
    display: flex;
    margin-top: 30px;
}
.h3_tri{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    font-size: 20;
}
.item_pit1{
    width: 70%;
    height: 32px;
    display: flex;
    margin-top: 50px;
}
.load{
    width: 20%;
    height: 60px;
    border: 0px solid transparent;
    border-radius: 30px;
    border: 2px solid #0A2640;
    background: white;
    margin-top: 30px;
}
.load_h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}
.pitch_h3_2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-left: 2%;
    padding-top: 2px;
}
.footer_search{
    width: 70%;
    height: 400px;
    background: url(Group\ 299.png);
    background-size: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.search_item{
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.search_h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 40px;
    text-align: center;
    font-weight: 300;
    color: white;
}
.email{
    width: 43%;
    height: 56px;
    background: white;
    border: 0px;
    border-radius: 30px;
    margin-right: 3%;
    padding-left: 3%;
    font-size: 17px;
}
.start{
    width: 25%;
    height: 56px;
    background: #65E4A3;
    border-radius: 30px;
    border: 0px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0A2640;
}
footer{
    width: 70%;
    height: 300px;
    margin-top: 100px;
}
.niz{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%
}
.niz_item1{
    width: 25%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}
.niz_item{
    width: 15%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}
.niz_h3{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #777777;
}
.nniz_h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.min_h3{
    width: 60%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #777777;
}
.hir{
    width: 41%;
}
.Hir{
    width: 33%;
    height: 30px;
    background: #65E4A3;
    border: 0px;
    border-radius: 30px;
}
.logo_h21{
    font-family: Arial, Helvetica, sans-serif;
font-size: 45px;
color: #0A2640;
}
.h3_content{
    font-size: 20px;
    font-weight: 200;
    text-indent: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.swiper-slide{
    /* width: 300px;
    height: 300px; */
    border: 1px solid black;
}